<section class="jumbotron mt-15 mb15 mr-15 ml-15"
	data-stellar-background-ratio="0.4"
	style="min-height: 320px; background-position: 50% -50px;">
	<!-- pattern + overlay -->
	<div class="overlay pattern pattern10"></div>
	<!--/ pattern + overlay -->
	<div class="container" style="padding-top: 8%;">
		<h1 class="thin text-white text-center font-alt">Gestion de
			Problemas Telefonica</h1>
		<h4 class="thin text-white text-center">Kevin Zambrano
			{{theTime}}</h4>
		<div class="text-center pt15"></div>
	</div>
</section>

<div class="col-md-4 animation animating fadeInDown">
	<!-- START panel -->
	<div class="panel panel-primary">
		<!-- panel heading/header -->
		<div class="panel-heading">
			<h3 class="panel-title">
				<i class="ico-wrench3 mr5"></i>Ticket: {{mensaje}}
			</h3>
		</div>
		<!--/ panel heading/header -->
		<!-- panel body -->
		<div class="panel-body">
			<textarea class="form-control" rows="3"
				placeholder="Write your comment" ng-model="comentarioProblema.comentario"></textarea>
			<button class="btn btn-success" ng-click="agregarComentario()">Comentar</button>
		</div>
		<!--/ panel body -->
	</div>
	<!--/ END panel -->
</div>
<div class="col-md-6">
	<h1>Comentarios</h1>
	<img src="image/icons/seopackages.png" alt="" class="img-responsive">
</div>
